@font-face {
	font-family: "Qualy";
	src: local("Qualy"), url("./assets/fonts/Qualy.otf") format('openttype');
}

@font-face {
	font-family: "Barlow Condensed";
	src: local("Barlow Condensed"), url("./assets/fonts/BarlowCondensed-Regular.otf") format('openttype');
}

@font-face {
	font-family: "Barlow";
	src: local("Barlow"), url("./assets/fonts/Barlow-Regular.otf") format('openttype');
}

@import "./assets/scss/Reset";
@import "./assets/scss/Animate";
@import "./assets/scss/Variables";
@import "./assets/scss/Base";
@import "./assets/scss/Header";
@import "./assets/scss/AboutHero";
@import "./assets/scss/AboutContent";
@import "./assets/scss/RecentWork";
@import "./assets/scss/ThankYou";
@import "./assets/scss/PortfolioSingle";
@import "./assets/scss/ContactContent";
@import "./assets/scss/Error";